In [5]:
import pandas as pd
import pymongo

In [7]:
df = pd.read_csv('loan_data.csv')
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [8]:
data = df.to_dict(orient="records")

In [9]:
DB_NAME = "Loan"
COLLECTION_NAME = "Loan-Data"
COLECTION_URL = "mongodb+srv://harshkosh200407:TGYni2rE941QC0HS@cluster0.6cak9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [10]:
client = pymongo.MongoClient(COLECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [11]:
rec = collection.insert_many(data)

In [13]:
df = pd.DataFrame(list(collection.find()))
df.shape

(45000, 15)